################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AutofacDelegateFuncExample/v15/Server/sqlite3
/AutofacDelegateFuncExample/obj/Debug
